a{
    color: #fff;
}
#header{
    background: #303030;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
#header #headerLogo{
    font-weight: bold;
    color: #fff;
    margin: 0;
}
#welcomeScreen{
    padding-top: 30px;
}
.screen{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 80%;
}
.btn{
    cursor: pointer;
}
.btn-facebook {
    color: #fff !important;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
#fbBtn{
    cursor: pointer;
}
.userName{
    color: #000
}
.input-error{
    display:none;
}